{% load django_tables2 %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لوحة الإدارة</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        /* Добавление отступов для всей страницы */
        body {
            margin: 30px; /* Внешние отступы */
            padding: 30px; /* Внутренние отступы */
            box-sizing: border-box; /* Учитывать padding в ширине и высоте */
            font-family: Arial, sans-serif; /* Удобный шрифт для чтения */
            font-size: 25px; /* Размер шрифта */
        }
    </style>
</head>
{% if not restricted_access %}
<body>
    <div class="container mt-4">
        <header>
            <h1>لوحة الإدارة</h1>
            <!-- Навигация -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'admin:index' %}">لوحة الإدارة</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'workers_list' %}">قائمة العمال</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'operation_log_list' %}">سجل العمليات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">صفحات أخرى</a>
                            </li>
            {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Здесь будет вставляться содержимое страницы -->
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Инициализация flatpickr
            flatpickr(".datepicker", {
                dateFormat: "d-m-Y",
                locale: "ar"
            });

            // Инициализация Select2 для всех полей с классом select2
            $(".select2").select2({
                placeholder: "اختر خيارًا",
                allowClear: true
            });
        });
    </script>
        
</body>
</html>
